.product-stars {
  --percent: calc(var(--rating) / 5 * 100%);

  display: inline-block;
  font-family: Times;

  &::before {
    content: '★★★★★';
    letter-spacing: 3px;
    background: linear-gradient(90deg, #fc0 var(--percent), #f7ea96 var(--percent));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

input[type=number] {
  -moz-appearance: textfield;
  appearance: textfield;
}

.quantity-shadow {
  box-shadow: 1px 1px 12px 2px rgba(0, 0, 0, 0.25);
}
