.review-stars {
  --percent: calc(var(--rating) / 5 * 100%);

  display: inline-block;
  font-family: Times;

  &::before {
    content: '★★★★★';
    letter-spacing: 3px;
    background: linear-gradient(90deg, #fc0 var(--percent), #f7ea96 var(--percent));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}
