.toast-class {
  position: fixed;
  bottom: 2rem;
  left: calc(50% - 130px);
  right: calc(50% - 130px);
  min-width: 260px;
  min-height: 50px;
  max-height: 50px;
  transform: translateY(200%);
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem 1.5rem;
  border-radius: 4px;
  box-shadow: 6px 6px 12px #00000040;
  background: #fff;
  border-left: 6px solid black;
}

.toast-warning {
  border-left-color: #cf7208;
}

.toast-success {
  border-left-color: #309113;
}

.toast-error {
  border-left-color: #e01b35;
}

.toast-info {
  border-left: 6px solid #3fa9eb;
}
