.toast-class {
  position: fixed;
  top: 2rem;
  min-height: 50px;
  left: 2.5%;
  right: 2.5%;
  transform: translateY(-200%);
  display: inline-flex;
  align-items: center;
  gap: 0.5rem;
  padding: 16px;
  border-radius: 8px;
  border: 1px solid transparent;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.toast-warning {
  background: hsl(49, 100%, 97%);
  border-color: hsl(49, 91%, 91%);
  color: hsl(31, 92%, 45%);
}

.toast-success {
  background: hsl(143, 85%, 96%);
  border-color: hsl(145, 92%, 91%);
  color: hsl(140, 100%, 27%);
}

.toast-error {
  background: hsl(359, 100%, 97%);
  border-color: 1px hsl(359, 100%, 94%);
  color: hsl(360, 100%, 45%);
}

.toast-info {
  background: hsl(208, 100%, 97%);
  border-color: hsl(221, 91%, 91%);
  color: hsl(210, 92%, 45%);
}

@media (min-width: 500px) {
  .toast-class {
    left: calc(50% - 178px);
    right: calc(50% + 178px);
  }
}
